#Workspace
build/
bin/
.vscode/
dcs-elog/
tmp/

#SQLite files
sqlite/*
!sqlite/CMakeLists.txt

#Visual Studio files
Debug/
Release/
/.vs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
/tests/include
/.leu
