* {
	font-family: Arial;
}

#app_container {
	margin-top: 10px;
}

.error_log_record {
	color: red;
}

.success_log_record {
	color: green;
}

.event_log_record {
	color: black;
}

.log_time {
	color: black;
	margin-right: 15px;
}

#log_container {
	height: 200px;
	overflow-y: scroll;
	margin-top: 10px;
	padding: 0px 5px 5px 5px;
}

#log_container p{
	margin: 5px;
}

.scrollbar_outer{
	direction: rtl;
}

.scrollbar_inner{
	direction: ltr;
}

.tab {
	display: none;
}

@media screen and (max-width: 700px) {
	#menu li {
		float: none;
	}

	td, th {
		min-width: 50px;
	}

	#menu li {
		border-right: none;
		border-bottom: 1px solid black;
	}
}

.input_wrapper div {
	padding: 3px;
}

button {
	background-color: #0f0fc1;
	color: white;
	padding: 5px 10px;
	font-weight: 600;
	font-size: 1em;
	cursor: pointer;
	transition: 0.2s;
	border: none;
	box-shadow: 0 3px #999;
	margin: 5px;
}

button:hover {
	background-color: darkblue;
}

button:active {
	box-shadow: 0 0px #999;
	transform: translateY(3px);
}