<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- stylesheets -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="global_styles.css" type="text/css" />
	<link rel="stylesheet" href="menu_styles.css" type="text/css" />
	<link rel="stylesheet" href="select_styles.css" type="text/css" />
	<link rel="stylesheet" href="insert_styles.css" type="text/css" />
	<link rel="stylesheet" href="tags_styles.css" type="text/css" />
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
	
	<body>
		<div id="menu">
			<ul>
				<li id="select" class=" active">SELECT</li>
				<li id="insert">INSERT</li>
				<li id="tags">TAGS</li>
			</ul>
		</div>

		<div id="app_container" ng-app="DCS">

			<div id="select_tab" class="tab" ng-controller="select_data">
				<div class="input_wrapper">
					<div>
						<span>Date min: </span>	<input id="min_date_input" type="date" />
					</div>
					<div>
						<span>Date max: </span>	<input id="max_date_input" type="date" />
					</div>
					<div>
						<span>Tags: 	</span>	<input id="tags_input" type="text" />
					</div>
					<div>
						<button ng-click="load_events($event)">Search</button>
					</div>
				</div>

				<table>
					<tr>
						<th ng-click="order_by_th('Id')">Id</th>
						<th ng-click="order_by_th('Date')">Date</th>
						<th ng-click="order_by_th('Title')">Title</th>
						<th ng-click="order_by_th('Tags')">Tags</th>
						<th ng-click="order_by_th('Author')">Author</th>
						<th></th>
					</tr>
					<tbody class="table_body" ng-repeat="x in table_data | orderBy:active_th:sort_order">
						<tr class="event_info">
							<td class="event_id">{{ x.Id }}</td>
							<td class="event_date">{{ x.Date }}</td>
							<td class="event_title">
								<span class="display_view">{{ x.Title }}</span>
								<input type="text" class="edit_view hidden" value="{{ x.Title }}" />
							</td>
							<td class="event_tags">
								<span class="display_view">{{ x.Tags }}</span>
								<input type="text" class="edit_view hidden" value="{{ x.Tags }}" />
							</td>
							<td class="event_author">{{ x.Author }}</td>
							<td>
								<input class="details_button" type="button" value="deltails" ng-click="toggle_description($event)" />
							</td>
						</tr>
						<tr class="description_row hidden">
							<td class="description_cell" colspan="6">
								<div class="edit_view hidden">
									<textarea class="description_input">{{ x.Description | replace_line_breaks }}</textarea>
									<div class="event_control">
										<button ng-click="close_edit_view($event, x)">Cancel</button>
										<button ng-click="update_event($event, x.Id)">OK</button>
									</div>
								</div>
								<div class="display_view">
									<div class="description_field">{{ x.Description | replace_line_breaks }}</div>
									<div class="event_control">
										<button ng-click="show_edit_view($event)">Edit</button>
									</div>
								</div>
								<div class="attachment_list">
									<div class="miniature_container" ng-repeat="att in x.Attachments">
										<a class="miniature_max_size" href="data:{{ att.Type }};base64,{{ att.Payload }}" alt="{{ att.Name }}">
											<img ng-if="is_image_type(att.Type)" class="miniature_max_size" src="data:{{ att.Type }};base64,{{ att.Payload }}" alt="{{ att.Name }}" />
											<span ng-if="!is_image_type(att.Type)">{{ att.Name }}</span>
										</a>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div id="insert_tab" class="tab" ng-controller="insert_data">

				<div class="input_wrapper">
					<div>
						<span>Title: </span>
						<input id="title_input" type="text" ng-model="title" />
					</div>
					<div>
						<p class="text_area_caption">Description:</p>
						<textarea id="description_input" ng-model="description">No description</textarea>
					</div>
					<div>
						<span>Tags: </span>
						<input id="insert_tags_input" type="text" ng-model="tags" />
					</div>
					<div>
						<span>Author: </span>
						<input id="author_input" type="text" ng-model="author" />
					</div>
					<div>
						<div>
							<span>Attachments: </span>
							<button ng-click="append_file()">Append</button>
						</div>
						<div>
							<p ng-repeat="file in file_list">
								<span class="attachment_name">{{ file.name }} </span>
								<button class="{{ !file.loaded ? 'hidden' : '' }}" ng-click="remove_file($index)">X</button>
								<progress class="{{ file.loaded ? 'hidden' : '' }}" value="{{ file.progress_value }}" max="{{ file.progress_max }}" />
							</p>
						</div>
					</div>
					<div>
						<button ng-click="send_insert_request($event)">Add</button>
					</div>
				</div>
			</div>

			<div id="tags_tab" class="tab" ng-controller="edit_tags">
				<div>
					<button ng-click="load_tags($event)">Load</button>
				</div>
				<div id="tags_tree_container">

				</div>
				<div class="control_container">
					<div class="control_block">
						<p class="block_title">Add tag</p>
						<p>
							<span class="block_span">
								<span>Tag name</span> <input type="text" id="add_tag_name_input" />
							</span>
							<span class="block_span">
								<span>Parent name</span> <input type="text" id="add_tag_parent_input" />
							</span>
							<span class="block_span">
								<button ng-click="add_tag($event)">Add</button>
							</span>
						</p>
					</div>
					<div class="control_block">
						<p class="block_title">Update tag</p>
						<p>
							<span class="block_span">
								<span>Old tag name</span> <input type="text" id="update_tag_input_old" />
							</span>
							<span class="block_span">
								<span>New tag name</span> <input type="text" id="update_tag_input_new" />
							</span>
							<span class="block_span">
								<button ng-click="update_tag($event)">Update</button>
							</span>
						</p>
					</div>
					<div class="control_block">
						<p class="block_title">Delete tag</p>
						<p>
							<span class="block_span">
								<span>Tag name</span> <input type="text" id="delete_tag_name_input" />
							</span>
							<span class="block_span">
								<button ng-click="delete_tag($event)">Delete</button>
							</span>
						</p>
					</div>
				</div>
			</div>

			<div id="log_container" class="scrollbar_outer">
				<div class="scrollbar_inner">
					<p ng-repeat="event in event_log.events" class="{{ event.type }}_log_record">
						<span class="log_time">{{ event.time }}</span>
						<span>{{ event.message }}</span>
					</p>
				</div>
			</div>
		</div>

		<!-- scripts -->
		<script src="utilities.js"></script>
		<script src="button_load_handler.js"></script>
		<script src="event_log.js"></script>
		<script src="update_event_manager.js"></script>
		<script src="app.js"></script>
		<script src="select_controller.js"></script>
		<script src="insert_controller.js"></script>
		<script src="tags_tree.js"></script>
		<script src="tags_controller.js"></script>
		<script src="tabs_controller.js"></script>
	</body>
</html>