<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- stylesheets -->
	<link rel="stylesheet" href="global_styles.css" type="text/css" />
	<link rel="stylesheet" href="menu_styles.css" type="text/css" />
	<link rel="stylesheet" href="select_styles.css" type="text/css" />
	<link rel="stylesheet" href="insert_styles.css" type="text/css" />
	<link rel="stylesheet" href="tags_styles.css" type="text/css" />

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
	
	<body>
		<div id="menu">
			<ul>
				<li id="select" class=" active">SELECT</li>
				<li id="insert">INSERT</li>
				<li id="tags">TAGS</li>
			</ul>
		</div>

		<div id="app_container" ng-app="DCS">

			<div id="select_tab" class="tab" ng-controller="select_data">
				<div class="input_wrapper">
					<div>
						<span>Date min: </span>	<input id="min_date_input" type="date" />
					</div>
					<div>
						<span>Date max: </span>	<input id="max_date_input" type="date" />
					</div>
					<div>
						<span>Tags: 	</span>	<input id="tags_input" type="text" />
					</div>
					<div>
						<button ng-click="send_request()">Search</button>
					</div>
				</div>

				<table>
					<tr>
						<th ng-click="order_by_th('Id')">Id</th>
						<th ng-click="order_by_th('Date')">Date</th>
						<th ng-click="order_by_th('Title')">Title</th>
						<th ng-click="order_by_th('Description')">Description</th>
						<th ng-click="order_by_th('Tags')">Tags</th>
						<th>Author</th>
					</tr>
					<tr ng-repeat="x in table_data | orderBy:active_th:sort_order">
						<td>{{ x.Id }}</td>
						<td>{{ x.Date }}</td>
						<td>{{ x.Title }}</td>
						<td>{{ x.Description }}</td>
						<td>{{ x.Tags }}</td>
						<td>{{ x.Author }}</td>
					</tr>
				</table>
			</div>

			<div id="insert_tab" class="tab" ng-controller="insert_data">

				<div class="input_wrapper">
					<div>
						<span>Title: </span>
						<input id="title_input" type="text" />
					</div>
					<div>
						<p class="text_area_caption">Description:</p>
						<textarea id="description_input">No description</textarea>
					</div>
					<div>
						<span>Tags: </span>
						<input id="insert_tags_input" type="text" />
					</div>
					<div>
						<span>Author: </span>
						<input id="author_input" type="text" />
					</div>
					<div>
						<button ng-click="send_insert_request()">Add</button>
					</div>
				</div>
			</div>

			<div id="tags_tab" class="tab" ng-controller="edit_tags">
				<div>
					<button ng-click="load_tags()">Load</button>
				</div>
				<div id="tags_tree_container">

				</div>
				<div class="control_container">
					<div class="control_block">
						<p class="block_title">Add tag</p>
						<p>
							<span class="block_span">
								<span>Tag name</span> <input type="text" id="add_tag_name_input" />
							</span>
							<span class="block_span">
								<span>Parent name</span> <input type="text" id="add_tag_parent_input" />
							</span>
							<span class="block_span">
								<button ng-click="add_tag()">Add</button>
							</span>
						</p>
					</div>
					<div class="control_block">
						<p class="block_title">Delete tag</p>
						<p>
							<span class="block_span">
								<span>Tag name</span> <input type="text" id="delete_tag_name_input" />
							</span>
							<span class="block_span">
								<button ng-click="delete_tag()">Delete</button>
							</span>
						</p>
					</div>
				</div>
			</div>

			<div id="log_container" class="scrollbar_outer">
				<div class="scrollbar_inner">
					<p ng-repeat="event in event_log.events" class="{{ event.type }}_info">
						<span class="log_time">{{ event.time }}</span>
						<span>{{ event.message }}</span>
					</p>
				</div>
			</div>
		</div>


		<!-- scripts -->
		<script src="utilities.js"></script>
		<script src="event_log.js"></script>
		<script src="app.js"></script>
		<script src="select_controller.js"></script>
		<script src="insert_controller.js"></script>
		<script src="tags_tree.js"></script>
		<script src="tags_controller.js"></script>
		<script src="tabs_controller.js"></script>
	</body>
</html>