#insert_tab textarea {
   width: 350px;
   height: 200px;
}

#insert_tab input {
	width: 300px;
}

.text_area_caption {
	margin: 0px;
	padding 0px;
}

.hidden {
	display: none;
}

.attachment_name {
	font-weight: bold;
	font-size: 1em;
}