#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: gray;
}

#menu li {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1px solid black;
	cursor: pointer;
}

#menu li:hover:not(.active) {
	background-color: lightblue;
}

#menu li.active {
	background-color: darkblue;
}
