#select_tab {
	display: block;
}

#select_tab input{
	margin: 2px;
}

#select_tab table {
	margin-top: 20px;
	border-collapse: collapse;
}

#select_tab td, th {
	min-width: 100px;
	border: 1px solid black;
}

.event_info {
	padding: 5px;
	margin: 0px;
	text-align: center;
}

.hidden {
	display: none;
}

.description_row {
	background-color: white !important;
}

.description_cell {
	padding: 5px;
	margin: 0px 5px 0px 10px;
}

.description_field {
	text-align: left;
	white-space: pre-wrap;
}

.event_control button{
	float: right;
}

#select_tab th {
	cursor: pointer;
}

#select_tab tbody:nth-child(odd) {
	background-color: #9cb6e2;
}

#select_tab tbody:nth-child(even) {
	background-color: #9bd0ef;
}

.description_input {
	width: 100%;
	height: 100px;
}

.details_button {
	width: 90%;
}

.attachment_list {
	padding: 5px 5px 0px 0px;
}

.miniature_container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	border-radius: 5px;
}

.miniature_max_size {
	max-height: 100%;
	max-width: 100%;
}
