*{
	font-family: Arial;
}

table{
	margin-top: 20px;
	border-collapse: collapse;
}

td, th{
	padding: 5px;
	margin: 0px;
	text-align: center;
	min-width: 100px;
	border: 1px solid black;
}

table tr:nth-child(odd) {
  background-color: #9cb6e2;
}

table tr:nth-child(even) {
  background-color: #9bd0ef;
}

#app_container {
	margin-top: 10px;
}

#error_info {
	color: red;
}

.tab{
	display: none;
}

#select_tab {
	display: block;
}

#select_tab input{
	margin: 2px;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: gray;
}

#menu li {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1px solid black;
}

#menu li:hover:not(.active) {
	background-color: lightblue;
}

#menu li.active {
	background-color: darkblue;
}

@media screen and (max-width: 600px) {
	#menu li {
		float: none;
	}
	td, th {
		min-width: 50px;
	}
	#menu li {
		border-right: none;
		border-bottom: 1px solid black;
	}
}
